*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "poppins", sans-serif;
  color: aliceblue;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  padding: 2rem;
  height: 10vh;
  margin-bottom: 2rem;
}
.header,
.header-game {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
  margin: 0 auto;
  min-height: 100vh;
}
.header {
  background: linear-gradient(105deg, rgb(250, 102, 86), rgb(247, 104, 135));
}

.header-game {
  background: linear-gradient(105deg, rgb(86, 143, 250), rgb(248, 203, 55));
}
/* .btn,
.btn-remove {
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 1rem;
  background-color: black;
  border: none;
  color: blanchedalmond;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
#list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
}
.item {
  flex: 1 1 30%;
  font-size: 1.4rem;
  background-color: salmon;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  position: relative;

  margin: 1rem;
} */
form {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: center;
}
.entervalue,
.todo-input {
  padding: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1.2;
  width: 90%;
  border: none;
}
.todo-input:focus {
  outline: none;
  color: rgb(214, 45, 82);
}
.todo-btn {
  border: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  padding: 1rem;

  background-color: #fff;
  color: rgb(214, 45, 82);
  border-left: 2px solid rgb(250, 102, 86);
}
.todo-btn:hover {
  color: aliceblue;
  background-color: rgb(214, 45, 82);
}
.todo-btn i {
  font-size: 2.7rem;
}

/* todo div */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.todo-list {
  min-width: 30rem;

  flex-wrap: wrap;
  display: flex;
}
.todo {
  flex: 1 1 30rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.5rem;
  color: #000;
  font-size: 1.5rem;
  background-color: aliceblue;
  transition: all 0.3s ease-in;
}

.complete-btn,
.delete-btn {
  color: aliceblue;
  background-color: rgb(214, 45, 82);
  padding: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  align-self: stretch;
}

.delete-btn {
  background-color: rgb(46, 40, 41);
}
.delete-btn:hover {
  background-color: rgb(46, 40, 41);
}

.todo .todo-item {
  flex: 1;
  align-self: center;
  padding: 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

/* Animations on task */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translate(10rem, 10rem) scale(1.2);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgb(214, 45, 82);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 30rem;
  padding: 1.5rem;
  backface-visibility: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding: 1.5rem;
  background: rgb(214, 45, 82);
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.select:hover::after {
  color: rgb(214, 45, 82);
  background: #fff;
  border-left: 2px solid rgb(214, 45, 82);
}
